body {
	color: white;
}

.App {
	width: 100vw;
	margin: 0 auto;
}

.title {
	text-align: center;
}

.pokedex {
	width: 80%;
	height: 85vh;
	margin: 0 auto;
	background-color: red;
	left: 0;
	right: 0;
	position: absolute;
	border-radius: 3%;
}
