.App {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	font-family: "roboto";
}

.title {
	text-align: center;
	padding: 1rem 0 0 0;
	font-family: "Press Start 2P", "cursive";
	font-size: 1.5rem;
	text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black,
		0 -0.07em black;
}

.pokedex {
	height: 90vh;
	margin: 1rem auto;
	background-color: #3e3e3e;
	left: 0;
	right: 0;
	aspect-ratio: 375/667;
	border-radius: 3%;
}

.pokedex-grid {
	display: grid;
	height: 85vh;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 2fr 1fr;
}

.image-div {
	background-color: #383b47;
	width: 80%;
	height: 75%;
	border-radius: 5%;
	margin: 0 1rem 0 1rem;
	filter: drop-shadow(5px 5px 3px black);
}

.poke-img {
	width: 100%;
	height: 100%;
	filter: drop-shadow(5px 5px 3px rgb(109, 99, 99));
}

.pokemon-name-list-div {
	background-color: #383b47;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	margin: 0 1rem 0 0;
	max-height: fit-content;
	padding-bottom: 0.5rem;
}

.pokemon-list-div {
	max-height: 95%;
	overflow-y: scroll;
	margin: 0;
	width: 100%;
}

.search-div {
	text-align: center;
}

.pokemon-list {
	list-style: none;
	text-align: left;
	margin: 0;
	text-align: center;
	border-radius: 30%;
	width: 100%;
	cursor: pointer;
}

.pokestats-div {
	margin: 0 1rem;
}

.pokestats-div > h3 {
	margin: 0;
	text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black,
		0 -0.07em black;
	font-size: 2rem;
}

.pokemon-desc-div {
	grid-column: 1 / 3;
	grid-row: 3 / 3;
	/* background-color: #ff2e2e; */
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom-left-radius: 3%;
	border-bottom-right-radius: 3%;
}

.pokemon-desc-div > h1 {
	margin: 0;
	text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black,
		0 -0.07em black;
}

.pokemon-desc-div > h3 {
	text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black,
		0 -0.07em black;
	font-size: 1rem;
}

.normal {
	background-color: #c5beb5;
}

.fire {
	background-color: #ea410b;
}

.water {
	background-color: #1e7edd;
}

.grass {
	background-color: #6dbf31;
}

.electric {
	background-color: #fabb1c;
}

.ice {
	background-color: #a0e5fb;
}

.fighting {
	background-color: #5f2114;
}

.poison {
	background-color: #914493;
}

.ground {
	background-color: #d1b25a;
}

.flying {
	background-color: #5c73d4;
}

.psychic {
	background-color: #e8497f;
}

.bug {
	background-color: #8b990e;
}

.rock {
	background-color: #b6a257;
}

.ghost {
	background-color: #5c5cae;
}

.dark {
	background-color: #3e2d23;
}

.dragon {
	background-color: #735cda;
}

.steel {
	background-color: #a3a2b2;
}

.fairy {
	background-color: #f3b4f2;
}
